body {
    background-image: url("assets/bunny.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

#text {
    flex-direction: column;
    top:50%;
    left:50%;
    transform:translate(25%,50%);
}

#title {
    color: #90809d;
    font-size: 5.0em;
}